openapi: 3.0.3
info:
  title: 'Harga Bensin API Documentation'
  description: ''
  version: '1.0'
servers:
  -
    url: 'https://hargabensin.rama-adi.dev'
paths:
  '/api/v1/historical-prices/province/{province_id}':
    get:
      summary: 'Get the historical fuel prices for a specific province.'
      operationId: getTheHistoricalFuelPricesForASpecificProvince
      description: "This endpoint will return the historical prices for all products in a specific province.\nThe response will include the product name, brand name, and the prices for each product."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                example:
                  -
                    product_id: 1
                    product_name: 'Pertamax Turbo'
                    brand_name: Pertamina
                    price: '14400.00'
                    last_updated: '1715846408'
                  -
                    product_id: 3
                    product_name: Pertamax
                    brand_name: Pertamina
                    price: '13200.00'
                    last_updated: '1715846408'
                  -
                    product_id: 4
                    product_name: Pertalite
                    brand_name: Pertamina
                    price: '10000.00'
                    last_updated: '1715846408'
                  -
                    product_id: 5
                    product_name: Dex
                    brand_name: Pertamina
                    price: '15100.00'
                    last_updated: '1715846408'
                  -
                    product_id: 6
                    product_name: Dexlite
                    brand_name: Pertamina
                    price: '14550.00'
                    last_updated: '1715846408'
                  -
                    product_id: 7
                    product_name: Biosolar
                    brand_name: Pertamina
                    price: '6800.00'
                    last_updated: '1715846408'
                  -
                    product_id: 1
                    product_name: 'Pertamax Turbo'
                    brand_name: Pertamina
                    price: '14400.00'
                    last_updated: '1715907659'
                  -
                    product_id: 3
                    product_name: Pertamax
                    brand_name: Pertamina
                    price: '13200.00'
                    last_updated: '1715907659'
                  -
                    product_id: 4
                    product_name: Pertalite
                    brand_name: Pertamina
                    price: '10000.00'
                    last_updated: '1715907659'
                  -
                    product_id: 5
                    product_name: Dex
                    brand_name: Pertamina
                    price: '15100.00'
                    last_updated: '1715907659'
                  -
                    product_id: 6
                    product_name: Dexlite
                    brand_name: Pertamina
                    price: '14550.00'
                    last_updated: '1715907659'
                  -
                    product_id: 7
                    product_name: Biosolar
                    brand_name: Pertamina
                    price: '6800.00'
                    last_updated: '1715907660'
                  -
                    product_id: 1
                    product_name: 'Pertamax Turbo'
                    brand_name: Pertamina
                    price: '14400.00'
                    last_updated: '1716260339'
                  -
                    product_id: 3
                    product_name: Pertamax
                    brand_name: Pertamina
                    price: '13200.00'
                    last_updated: '1716260339'
                  -
                    product_id: 4
                    product_name: Pertalite
                    brand_name: Pertamina
                    price: '10000.00'
                    last_updated: '1716260339'
                  -
                    product_id: 5
                    product_name: Dex
                    brand_name: Pertamina
                    price: '15100.00'
                    last_updated: '1716260339'
                  -
                    product_id: 6
                    product_name: Dexlite
                    brand_name: Pertamina
                    price: '14550.00'
                    last_updated: '1716260339'
                  -
                    product_id: 7
                    product_name: Biosolar
                    brand_name: Pertamina
                    price: '6800.00'
                    last_updated: '1716260339'
                  -
                    product_id: 1
                    product_name: 'Pertamax Turbo'
                    brand_name: Pertamina
                    price: '14400.00'
                    last_updated: '1717641161'
                  -
                    product_id: 3
                    product_name: Pertamax
                    brand_name: Pertamina
                    price: '13200.00'
                    last_updated: '1717641161'
                  -
                    product_id: 4
                    product_name: Pertalite
                    brand_name: Pertamina
                    price: '10000.00'
                    last_updated: '1717641161'
                  -
                    product_id: 5
                    product_name: Dex
                    brand_name: Pertamina
                    price: '15100.00'
                    last_updated: '1717641161'
                  -
                    product_id: 6
                    product_name: Dexlite
                    brand_name: Pertamina
                    price: '14550.00'
                    last_updated: '1717641161'
                  -
                    product_id: 7
                    product_name: Biosolar
                    brand_name: Pertamina
                    price: '6800.00'
                    last_updated: '1717641161'
                  -
                    product_id: 1
                    product_name: 'Pertamax Turbo'
                    brand_name: Pertamina
                    price: '14400.00'
                    last_updated: '1718235319'
                  -
                    product_id: 3
                    product_name: Pertamax
                    brand_name: Pertamina
                    price: '13200.00'
                    last_updated: '1718235319'
                  -
                    product_id: 4
                    product_name: Pertalite
                    brand_name: Pertamina
                    price: '10000.00'
                    last_updated: '1718235319'
                  -
                    product_id: 5
                    product_name: Dex
                    brand_name: Pertamina
                    price: '15100.00'
                    last_updated: '1718235319'
                  -
                    product_id: 6
                    product_name: Dexlite
                    brand_name: Pertamina
                    price: '14550.00'
                    last_updated: '1718235319'
                  -
                    product_id: 7
                    product_name: Biosolar
                    brand_name: Pertamina
                    price: '6800.00'
                    last_updated: '1718235319'
      tags:
        - 'Historical Fuel Pricing'
    parameters:
      -
        in: path
        name: province_id
        description: 'The ID of the province.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: province
        description: 'The ID of the province.'
        example: '1'
        required: true
        schema:
          type: string
  '/api/v1/historical-prices/brand/{brand_id}':
    get:
      summary: 'Get the historical fuel prices for a specific brand.'
      operationId: getTheHistoricalFuelPricesForASpecificBrand
      description: "This endpoint will return the historical prices for all products of a specific brand.\nThe response will include the product name, brand name, and the prices for each product."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                example:
                  -
                    product_id: 1
                    product_name: 'Pertamax Turbo'
                    brand_name: Pertamina
                    historical_prices:
                      '2024-06-12':
                        -
                          province: Aceh
                          price: '14400.00'
                          last_updated: '1718235319'
                        -
                          province: 'Sumatera Utara'
                          price: '14750.00'
                          last_updated: '1718235319'
                        -
                          province: 'Sumatera Barat'
                          price: '14750.00'
                          last_updated: '1718235319'
                        -
                          province: Riau
                          price: '15100.00'
                          last_updated: '1718235319'
                        -
                          province: 'Kepulauan Riau'
                          price: '15100.00'
                          last_updated: '1718235319'
                        -
                          province: 'Free Trade Zone (FTZ) Batam'
                          price: '13500.00'
                          last_updated: '1718235319'
                        -
                          province: Jambi
                          price: '14750.00'
                          last_updated: '1718235319'
                        -
                          province: Bengkulu
                          price: '15100.00'
                          last_updated: '1718235319'
                        -
                          province: 'Sumatera Selatan'
                          price: '14750.00'
                          last_updated: '1718235319'
                        -
                          province: Bangka-Belitung
                          price: '14750.00'
                          last_updated: '1718235319'
                        -
                          province: Lampung
                          price: '14750.00'
                          last_updated: '1718235319'
                        -
                          province: 'DKI Jakarta'
                          price: '14400.00'
                          last_updated: '1718235319'
                        -
                          province: Banten
                          price: '14400.00'
                          last_updated: '1718235319'
                        -
                          province: 'Jawa Barat'
                          price: '14400.00'
                          last_updated: '1718235319'
                        -
                          province: 'Jawa Tengah'
                          price: '14400.00'
                          last_updated: '1718235319'
                        -
                          province: 'DI Yogyakarta'
                          price: '14400.00'
                          last_updated: '1718235319'
                        -
                          province: 'Jawa Timur'
                          price: '14400.00'
                          last_updated: '1718235319'
                        -
                          province: Bali
                          price: '14400.00'
                          last_updated: '1718235319'
                        -
                          province: 'Nusa Tenggara Barat'
                          price: '14400.00'
                          last_updated: '1718235319'
                        -
                          province: 'Nusa Tenggara Timur'
                          price: '14400.00'
                          last_updated: '1718235319'
                        -
                          province: 'Kalimantan Barat'
                          price: '14750.00'
                          last_updated: '1718235319'
                        -
                          province: 'Kalimantan Tengah'
                          price: '14750.00'
                          last_updated: '1718235319'
                        -
                          province: 'Kalimantan Selatan'
                          price: '14750.00'
                          last_updated: '1718235319'
                        -
                          province: 'Kalimantan Timur'
                          price: '14750.00'
                          last_updated: '1718235319'
                        -
                          province: 'Kalimantan Utara'
                          price: '14750.00'
                          last_updated: '1718235319'
                        -
                          province: 'Sulawesi Utara'
                          price: '14750.00'
                          last_updated: '1718235319'
                        -
                          province: Gorontalo
                          price: '14750.00'
                          last_updated: '1718235319'
                        -
                          province: 'Sulawesi Tengah'
                          price: '14750.00'
                          last_updated: '1718235319'
                        -
                          province: 'Sulawesi Tenggara'
                          price: '14750.00'
                          last_updated: '1718235319'
                        -
                          province: 'Sulawesi Selatan'
                          price: '14750.00'
                          last_updated: '1718235319'
                        -
                          province: 'Sulawesi Barat'
                          price: '14750.00'
                          last_updated: '1718235319'
                        -
                          province: Papua
                          price: '14750.00'
                          last_updated: '1718235319'
                      '2024-06-06':
                        -
                          province: Aceh
                          price: '14400.00'
                          last_updated: '1717641161'
                        -
                          province: 'Sumatera Utara'
                          price: '14750.00'
                          last_updated: '1717641161'
                        -
                          province: 'Sumatera Barat'
                          price: '14750.00'
                          last_updated: '1717641161'
                        -
                          province: Riau
                          price: '15100.00'
                          last_updated: '1717641161'
                        -
                          province: 'Kepulauan Riau'
                          price: '15100.00'
                          last_updated: '1717641161'
                        -
                          province: 'Free Trade Zone (FTZ) Batam'
                          price: '13500.00'
                          last_updated: '1717641161'
                        -
                          province: Jambi
                          price: '14750.00'
                          last_updated: '1717641161'
                        -
                          province: Bengkulu
                          price: '15100.00'
                          last_updated: '1717641161'
                        -
                          province: 'Sumatera Selatan'
                          price: '14750.00'
                          last_updated: '1717641161'
                        -
                          province: Bangka-Belitung
                          price: '14750.00'
                          last_updated: '1717641161'
                        -
                          province: Lampung
                          price: '14750.00'
                          last_updated: '1717641161'
                        -
                          province: 'DKI Jakarta'
                          price: '14400.00'
                          last_updated: '1717641161'
                        -
                          province: Banten
                          price: '14400.00'
                          last_updated: '1717641161'
                        -
                          province: 'Jawa Barat'
                          price: '14400.00'
                          last_updated: '1717641161'
                        -
                          province: 'Jawa Tengah'
                          price: '14400.00'
                          last_updated: '1717641161'
                        -
                          province: 'DI Yogyakarta'
                          price: '14400.00'
                          last_updated: '1717641161'
                        -
                          province: 'Jawa Timur'
                          price: '14400.00'
                          last_updated: '1717641161'
                        -
                          province: Bali
                          price: '14400.00'
                          last_updated: '1717641161'
                        -
                          province: 'Nusa Tenggara Barat'
                          price: '14400.00'
                          last_updated: '1717641161'
                        -
                          province: 'Nusa Tenggara Timur'
                          price: '14400.00'
                          last_updated: '1717641161'
                        -
                          province: 'Kalimantan Barat'
                          price: '14750.00'
                          last_updated: '1717641161'
                        -
                          province: 'Kalimantan Tengah'
                          price: '14750.00'
                          last_updated: '1717641161'
                        -
                          province: 'Kalimantan Selatan'
                          price: '14750.00'
                          last_updated: '1717641161'
                        -
                          province: 'Kalimantan Timur'
                          price: '14750.00'
                          last_updated: '1717641161'
                        -
                          province: 'Kalimantan Utara'
                          price: '14750.00'
                          last_updated: '1717641161'
                        -
                          province: 'Sulawesi Utara'
                          price: '14750.00'
                          last_updated: '1717641161'
                        -
                          province: Gorontalo
                          price: '14750.00'
                          last_updated: '1717641161'
                        -
                          province: 'Sulawesi Tengah'
                          price: '14750.00'
                          last_updated: '1717641161'
                        -
                          province: 'Sulawesi Tenggara'
                          price: '14750.00'
                          last_updated: '1717641161'
                        -
                          province: 'Sulawesi Selatan'
                          price: '14750.00'
                          last_updated: '1717641161'
                        -
                          province: 'Sulawesi Barat'
                          price: '14750.00'
                          last_updated: '1717641161'
                        -
                          province: Papua
                          price: '14750.00'
                          last_updated: '1717641161'
                      '2024-05-21':
                        -
                          province: Aceh
                          price: '14400.00'
                          last_updated: '1716260339'
                        -
                          province: 'Sumatera Utara'
                          price: '14750.00'
                          last_updated: '1716260339'
                        -
                          province: 'Sumatera Barat'
                          price: '14750.00'
                          last_updated: '1716260339'
                        -
                          province: Riau
                          price: '15100.00'
                          last_updated: '1716260339'
                        -
                          province: 'Kepulauan Riau'
                          price: '15100.00'
                          last_updated: '1716260339'
                        -
                          province: 'Free Trade Zone (FTZ) Batam'
                          price: '13500.00'
                          last_updated: '1716260339'
                        -
                          province: Jambi
                          price: '14750.00'
                          last_updated: '1716260339'
                        -
                          province: Bengkulu
                          price: '15100.00'
                          last_updated: '1716260339'
                        -
                          province: 'Sumatera Selatan'
                          price: '14750.00'
                          last_updated: '1716260339'
                        -
                          province: Bangka-Belitung
                          price: '14750.00'
                          last_updated: '1716260339'
                        -
                          province: Lampung
                          price: '14750.00'
                          last_updated: '1716260339'
                        -
                          province: 'DKI Jakarta'
                          price: '14400.00'
                          last_updated: '1716260339'
                        -
                          province: Banten
                          price: '14400.00'
                          last_updated: '1716260339'
                        -
                          province: 'Jawa Barat'
                          price: '14400.00'
                          last_updated: '1716260339'
                        -
                          province: 'Jawa Tengah'
                          price: '14400.00'
                          last_updated: '1716260339'
                        -
                          province: 'DI Yogyakarta'
                          price: '14400.00'
                          last_updated: '1716260339'
                        -
                          province: 'Jawa Timur'
                          price: '14400.00'
                          last_updated: '1716260339'
                        -
                          province: Bali
                          price: '14400.00'
                          last_updated: '1716260339'
                        -
                          province: 'Nusa Tenggara Barat'
                          price: '14400.00'
                          last_updated: '1716260339'
                        -
                          province: 'Nusa Tenggara Timur'
                          price: '14400.00'
                          last_updated: '1716260339'
                        -
                          province: 'Kalimantan Barat'
                          price: '14750.00'
                          last_updated: '1716260339'
                        -
                          province: 'Kalimantan Tengah'
                          price: '14750.00'
                          last_updated: '1716260339'
                        -
                          province: 'Kalimantan Selatan'
                          price: '14750.00'
                          last_updated: '1716260339'
                        -
                          province: 'Kalimantan Timur'
                          price: '14750.00'
                          last_updated: '1716260339'
                        -
                          province: 'Kalimantan Utara'
                          price: '14750.00'
                          last_updated: '1716260339'
                        -
                          province: 'Sulawesi Utara'
                          price: '14750.00'
                          last_updated: '1716260339'
                        -
                          province: Gorontalo
                          price: '14750.00'
                          last_updated: '1716260339'
                        -
                          province: 'Sulawesi Tengah'
                          price: '14750.00'
                          last_updated: '1716260339'
                        -
                          province: 'Sulawesi Tenggara'
                          price: '14750.00'
                          last_updated: '1716260339'
                        -
                          province: 'Sulawesi Selatan'
                          price: '14750.00'
                          last_updated: '1716260339'
                        -
                          province: 'Sulawesi Barat'
                          price: '14750.00'
                          last_updated: '1716260339'
                        -
                          province: Papua
                          price: '14750.00'
                          last_updated: '1716260339'
                      '2024-05-17':
                        -
                          province: Aceh
                          price: '14400.00'
                          last_updated: '1715907659'
                        -
                          province: 'Sumatera Utara'
                          price: '14750.00'
                          last_updated: '1715907659'
                        -
                          province: 'Sumatera Barat'
                          price: '14750.00'
                          last_updated: '1715907659'
                        -
                          province: Riau
                          price: '15100.00'
                          last_updated: '1715907659'
                        -
                          province: 'Kepulauan Riau'
                          price: '15100.00'
                          last_updated: '1715907659'
                        -
                          province: 'Free Trade Zone (FTZ) Batam'
                          price: '13500.00'
                          last_updated: '1715907659'
                        -
                          province: Jambi
                          price: '14750.00'
                          last_updated: '1715907659'
                        -
                          province: Bengkulu
                          price: '15100.00'
                          last_updated: '1715907659'
                        -
                          province: 'Sumatera Selatan'
                          price: '14750.00'
                          last_updated: '1715907659'
                        -
                          province: Bangka-Belitung
                          price: '14750.00'
                          last_updated: '1715907659'
                        -
                          province: Lampung
                          price: '14750.00'
                          last_updated: '1715907659'
                        -
                          province: 'DKI Jakarta'
                          price: '14400.00'
                          last_updated: '1715907659'
                        -
                          province: Banten
                          price: '14400.00'
                          last_updated: '1715907659'
                        -
                          province: 'Jawa Barat'
                          price: '14400.00'
                          last_updated: '1715907659'
                        -
                          province: 'Jawa Tengah'
                          price: '14400.00'
                          last_updated: '1715907659'
                        -
                          province: 'DI Yogyakarta'
                          price: '14400.00'
                          last_updated: '1715907659'
                        -
                          province: 'Jawa Timur'
                          price: '14400.00'
                          last_updated: '1715907659'
                        -
                          province: Bali
                          price: '14400.00'
                          last_updated: '1715907659'
                        -
                          province: 'Nusa Tenggara Barat'
                          price: '14400.00'
                          last_updated: '1715907659'
                        -
                          province: 'Nusa Tenggara Timur'
                          price: '14400.00'
                          last_updated: '1715907659'
                        -
                          province: 'Kalimantan Barat'
                          price: '14750.00'
                          last_updated: '1715907659'
                        -
                          province: 'Kalimantan Tengah'
                          price: '14750.00'
                          last_updated: '1715907659'
                        -
                          province: 'Kalimantan Selatan'
                          price: '14750.00'
                          last_updated: '1715907659'
                        -
                          province: 'Kalimantan Timur'
                          price: '14750.00'
                          last_updated: '1715907659'
                        -
                          province: 'Kalimantan Utara'
                          price: '14750.00'
                          last_updated: '1715907659'
                        -
                          province: 'Sulawesi Utara'
                          price: '14750.00'
                          last_updated: '1715907659'
                        -
                          province: Gorontalo
                          price: '14750.00'
                          last_updated: '1715907659'
                        -
                          province: 'Sulawesi Tengah'
                          price: '14750.00'
                          last_updated: '1715907659'
                        -
                          province: 'Sulawesi Tenggara'
                          price: '14750.00'
                          last_updated: '1715907659'
                        -
                          province: 'Sulawesi Selatan'
                          price: '14750.00'
                          last_updated: '1715907659'
                        -
                          province: 'Sulawesi Barat'
                          price: '14750.00'
                          last_updated: '1715907659'
                        -
                          province: Papua
                          price: '14750.00'
                          last_updated: '1715907659'
                      '2024-05-16':
                        -
                          province: Aceh
                          price: '14400.00'
                          last_updated: '1715846408'
                        -
                          province: 'Sumatera Utara'
                          price: '14750.00'
                          last_updated: '1715846408'
                        -
                          province: 'Sumatera Barat'
                          price: '14750.00'
                          last_updated: '1715846408'
                        -
                          province: Riau
                          price: '15100.00'
                          last_updated: '1715846408'
                        -
                          province: 'Kepulauan Riau'
                          price: '15100.00'
                          last_updated: '1715846408'
                        -
                          province: 'Free Trade Zone (FTZ) Batam'
                          price: '13500.00'
                          last_updated: '1715846408'
                        -
                          province: Jambi
                          price: '14750.00'
                          last_updated: '1715846408'
                        -
                          province: Bengkulu
                          price: '15100.00'
                          last_updated: '1715846408'
                        -
                          province: 'Sumatera Selatan'
                          price: '14750.00'
                          last_updated: '1715846408'
                        -
                          province: Bangka-Belitung
                          price: '14750.00'
                          last_updated: '1715846408'
                        -
                          province: Lampung
                          price: '14750.00'
                          last_updated: '1715846408'
                        -
                          province: 'DKI Jakarta'
                          price: '14400.00'
                          last_updated: '1715846408'
                        -
                          province: Banten
                          price: '14400.00'
                          last_updated: '1715846408'
                        -
                          province: 'Jawa Barat'
                          price: '14400.00'
                          last_updated: '1715846408'
                        -
                          province: 'Jawa Tengah'
                          price: '14400.00'
                          last_updated: '1715846408'
                        -
                          province: 'DI Yogyakarta'
                          price: '14400.00'
                          last_updated: '1715846408'
                        -
                          province: 'Jawa Timur'
                          price: '14400.00'
                          last_updated: '1715846408'
                        -
                          province: Bali
                          price: '14400.00'
                          last_updated: '1715846408'
                        -
                          province: 'Nusa Tenggara Barat'
                          price: '14400.00'
                          last_updated: '1715846408'
                        -
                          province: 'Nusa Tenggara Timur'
                          price: '14400.00'
                          last_updated: '1715846408'
                        -
                          province: 'Kalimantan Barat'
                          price: '14750.00'
                          last_updated: '1715846408'
                        -
                          province: 'Kalimantan Tengah'
                          price: '14750.00'
                          last_updated: '1715846408'
                        -
                          province: 'Kalimantan Selatan'
                          price: '14750.00'
                          last_updated: '1715846408'
                        -
                          province: 'Kalimantan Timur'
                          price: '14750.00'
                          last_updated: '1715846408'
                        -
                          province: 'Kalimantan Utara'
                          price: '14750.00'
                          last_updated: '1715846408'
                        -
                          province: 'Sulawesi Utara'
                          price: '14750.00'
                          last_updated: '1715846408'
                        -
                          province: Gorontalo
                          price: '14750.00'
                          last_updated: '1715846408'
                        -
                          province: 'Sulawesi Tengah'
                          price: '14750.00'
                          last_updated: '1715846408'
                        -
                          province: 'Sulawesi Tenggara'
                          price: '14750.00'
                          last_updated: '1715846408'
                        -
                          province: 'Sulawesi Selatan'
                          price: '14750.00'
                          last_updated: '1715846408'
                        -
                          province: 'Sulawesi Barat'
                          price: '14750.00'
                          last_updated: '1715846408'
                        -
                          province: Papua
                          price: '14750.00'
                          last_updated: '1715846408'
                  -
                    product_id: 2
                    product_name: 'Pertamax Green95'
                    brand_name: Pertamina
                    historical_prices:
                      '2024-06-12':
                        -
                          province: 'DKI Jakarta'
                          price: '13900.00'
                          last_updated: '1718235319'
                        -
                          province: 'Jawa Timur'
                          price: '13900.00'
                          last_updated: '1718235319'
                      '2024-06-06':
                        -
                          province: 'DKI Jakarta'
                          price: '13900.00'
                          last_updated: '1717641161'
                        -
                          province: 'Jawa Timur'
                          price: '13900.00'
                          last_updated: '1717641161'
                      '2024-05-21':
                        -
                          province: 'DKI Jakarta'
                          price: '13900.00'
                          last_updated: '1716260339'
                        -
                          province: 'Jawa Timur'
                          price: '13900.00'
                          last_updated: '1716260339'
                      '2024-05-17':
                        -
                          province: 'DKI Jakarta'
                          price: '13900.00'
                          last_updated: '1715907659'
                        -
                          province: 'Jawa Timur'
                          price: '13900.00'
                          last_updated: '1715907659'
                      '2024-05-16':
                        -
                          province: 'DKI Jakarta'
                          price: '13900.00'
                          last_updated: '1715846408'
                        -
                          province: 'Jawa Timur'
                          price: '13900.00'
                          last_updated: '1715846408'
                  -
                    product_id: 3
                    product_name: Pertamax
                    brand_name: Pertamina
                    historical_prices:
                      '2024-06-12':
                        -
                          province: Aceh
                          price: '13200.00'
                          last_updated: '1718235319'
                        -
                          province: 'Free Trade Zone (FTZ) Sabang'
                          price: '12100.00'
                          last_updated: '1718235319'
                        -
                          province: 'Sumatera Utara'
                          price: '13500.00'
                          last_updated: '1718235319'
                        -
                          province: 'Sumatera Barat'
                          price: '13500.00'
                          last_updated: '1718235319'
                        -
                          province: Riau
                          price: '13800.00'
                          last_updated: '1718235319'
                        -
                          province: 'Kepulauan Riau'
                          price: '13800.00'
                          last_updated: '1718235319'
                        -
                          province: 'Free Trade Zone (FTZ) Batam'
                          price: '12600.00'
                          last_updated: '1718235319'
                        -
                          province: Jambi
                          price: '13500.00'
                          last_updated: '1718235319'
                        -
                          province: Bengkulu
                          price: '13800.00'
                          last_updated: '1718235319'
                        -
                          province: 'Sumatera Selatan'
                          price: '13500.00'
                          last_updated: '1718235319'
                        -
                          province: Bangka-Belitung
                          price: '13500.00'
                          last_updated: '1718235319'
                        -
                          province: Lampung
                          price: '13500.00'
                          last_updated: '1718235319'
                        -
                          province: 'DKI Jakarta'
                          price: '12950.00'
                          last_updated: '1718235319'
                        -
                          province: Banten
                          price: '12950.00'
                          last_updated: '1718235319'
                        -
                          province: 'Jawa Barat'
                          price: '12950.00'
                          last_updated: '1718235319'
                        -
                          province: 'Jawa Tengah'
                          price: '12950.00'
                          last_updated: '1718235319'
                        -
                          province: 'DI Yogyakarta'
                          price: '12950.00'
                          last_updated: '1718235319'
                        -
                          province: 'Jawa Timur'
                          price: '12950.00'
                          last_updated: '1718235319'
                        -
                          province: Bali
                          price: '13200.00'
                          last_updated: '1718235319'
                        -
                          province: 'Nusa Tenggara Barat'
                          price: '13200.00'
                          last_updated: '1718235319'
                        -
                          province: 'Nusa Tenggara Timur'
                          price: '13200.00'
                          last_updated: '1718235319'
                        -
                          province: 'Kalimantan Barat'
                          price: '13500.00'
                          last_updated: '1718235319'
                        -
                          province: 'Kalimantan Tengah'
                          price: '13500.00'
                          last_updated: '1718235319'
                        -
                          province: 'Kalimantan Selatan'
                          price: '13500.00'
                          last_updated: '1718235319'
                        -
                          province: 'Kalimantan Timur'
                          price: '13500.00'
                          last_updated: '1718235319'
                        -
                          province: 'Kalimantan Utara'
                          price: '13500.00'
                          last_updated: '1718235319'
                        -
                          province: 'Sulawesi Utara'
                          price: '13500.00'
                          last_updated: '1718235319'
                        -
                          province: Gorontalo
                          price: '13500.00'
                          last_updated: '1718235319'
                        -
                          province: 'Sulawesi Tengah'
                          price: '13500.00'
                          last_updated: '1718235319'
                        -
                          province: 'Sulawesi Tenggara'
                          price: '13500.00'
                          last_updated: '1718235319'
                        -
                          province: 'Sulawesi Selatan'
                          price: '13500.00'
                          last_updated: '1718235319'
                        -
                          province: 'Sulawesi Barat'
                          price: '13500.00'
                          last_updated: '1718235319'
                        -
                          province: Maluku
                          price: '13500.00'
                          last_updated: '1718235319'
                        -
                          province: 'Maluku Utara'
                          price: '13500.00'
                          last_updated: '1718235319'
                        -
                          province: Papua
                          price: '13500.00'
                          last_updated: '1718235319'
                        -
                          province: 'Papua Barat'
                          price: '13500.00'
                          last_updated: '1718235319'
                        -
                          province: 'Papua Selatan'
                          price: '13500.00'
                          last_updated: '1718235319'
                        -
                          province: 'Papua Pegunungan'
                          price: '13500.00'
                          last_updated: '1718235319'
                        -
                          province: 'Papua Tengah'
                          price: '13500.00'
                          last_updated: '1718235319'
                        -
                          province: 'Papua Barat Daya'
                          price: '13500.00'
                          last_updated: '1718235319'
                      '2024-06-06':
                        -
                          province: Aceh
                          price: '13200.00'
                          last_updated: '1717641161'
                        -
                          province: 'Free Trade Zone (FTZ) Sabang'
                          price: '12100.00'
                          last_updated: '1717641161'
                        -
                          province: 'Sumatera Utara'
                          price: '13500.00'
                          last_updated: '1717641161'
                        -
                          province: 'Sumatera Barat'
                          price: '13500.00'
                          last_updated: '1717641161'
                        -
                          province: Riau
                          price: '13800.00'
                          last_updated: '1717641161'
                        -
                          province: 'Kepulauan Riau'
                          price: '13800.00'
                          last_updated: '1717641161'
                        -
                          province: 'Free Trade Zone (FTZ) Batam'
                          price: '12600.00'
                          last_updated: '1717641161'
                        -
                          province: Jambi
                          price: '13500.00'
                          last_updated: '1717641161'
                        -
                          province: Bengkulu
                          price: '13800.00'
                          last_updated: '1717641161'
                        -
                          province: 'Sumatera Selatan'
                          price: '13500.00'
                          last_updated: '1717641161'
                        -
                          province: Bangka-Belitung
                          price: '13500.00'
                          last_updated: '1717641161'
                        -
                          province: Lampung
                          price: '13500.00'
                          last_updated: '1717641161'
                        -
                          province: 'DKI Jakarta'
                          price: '12950.00'
                          last_updated: '1717641161'
                        -
                          province: Banten
                          price: '12950.00'
                          last_updated: '1717641161'
                        -
                          province: 'Jawa Barat'
                          price: '12950.00'
                          last_updated: '1717641161'
                        -
                          province: 'Jawa Tengah'
                          price: '12950.00'
                          last_updated: '1717641161'
                        -
                          province: 'DI Yogyakarta'
                          price: '12950.00'
                          last_updated: '1717641161'
                        -
                          province: 'Jawa Timur'
                          price: '12950.00'
                          last_updated: '1717641161'
                        -
                          province: Bali
                          price: '13200.00'
                          last_updated: '1717641161'
                        -
                          province: 'Nusa Tenggara Barat'
                          price: '13200.00'
                          last_updated: '1717641161'
                        -
                          province: 'Nusa Tenggara Timur'
                          price: '13200.00'
                          last_updated: '1717641161'
                        -
                          province: 'Kalimantan Barat'
                          price: '13500.00'
                          last_updated: '1717641161'
                        -
                          province: 'Kalimantan Tengah'
                          price: '13500.00'
                          last_updated: '1717641161'
                        -
                          province: 'Kalimantan Selatan'
                          price: '13500.00'
                          last_updated: '1717641161'
                        -
                          province: 'Kalimantan Timur'
                          price: '13500.00'
                          last_updated: '1717641161'
                        -
                          province: 'Kalimantan Utara'
                          price: '13500.00'
                          last_updated: '1717641161'
                        -
                          province: 'Sulawesi Utara'
                          price: '13500.00'
                          last_updated: '1717641161'
                        -
                          province: Gorontalo
                          price: '13500.00'
                          last_updated: '1717641161'
                        -
                          province: 'Sulawesi Tengah'
                          price: '13500.00'
                          last_updated: '1717641161'
                        -
                          province: 'Sulawesi Tenggara'
                          price: '13500.00'
                          last_updated: '1717641161'
                        -
                          province: 'Sulawesi Selatan'
                          price: '13500.00'
                          last_updated: '1717641161'
                        -
                          province: 'Sulawesi Barat'
                          price: '13500.00'
                          last_updated: '1717641161'
                        -
                          province: Maluku
                          price: '13500.00'
                          last_updated: '1717641161'
                        -
                          province: 'Maluku Utara'
                          price: '13500.00'
                          last_updated: '1717641161'
                        -
                          province: Papua
                          price: '13500.00'
                          last_updated: '1717641161'
                        -
                          province: 'Papua Barat'
                          price: '13500.00'
                          last_updated: '1717641161'
                        -
                          province: 'Papua Selatan'
                          price: '13500.00'
                          last_updated: '1717641161'
                        -
                          province: 'Papua Pegunungan'
                          price: '13500.00'
                          last_updated: '1717641161'
                        -
                          province: 'Papua Tengah'
                          price: '13500.00'
                          last_updated: '1717641161'
                        -
                          province: 'Papua Barat Daya'
                          price: '13500.00'
                          last_updated: '1717641161'
                      '2024-05-21':
                        -
                          province: Aceh
                          price: '13200.00'
                          last_updated: '1716260339'
                        -
                          province: 'Free Trade Zone (FTZ) Sabang'
                          price: '12100.00'
                          last_updated: '1716260339'
                        -
                          province: 'Sumatera Utara'
                          price: '13500.00'
                          last_updated: '1716260339'
                        -
                          province: 'Sumatera Barat'
                          price: '13500.00'
                          last_updated: '1716260339'
                        -
                          province: Riau
                          price: '13800.00'
                          last_updated: '1716260339'
                        -
                          province: 'Kepulauan Riau'
                          price: '13800.00'
                          last_updated: '1716260339'
                        -
                          province: 'Free Trade Zone (FTZ) Batam'
                          price: '12600.00'
                          last_updated: '1716260339'
                        -
                          province: Jambi
                          price: '13500.00'
                          last_updated: '1716260339'
                        -
                          province: Bengkulu
                          price: '13800.00'
                          last_updated: '1716260339'
                        -
                          province: 'Sumatera Selatan'
                          price: '13500.00'
                          last_updated: '1716260339'
                        -
                          province: Bangka-Belitung
                          price: '13500.00'
                          last_updated: '1716260339'
                        -
                          province: Lampung
                          price: '13500.00'
                          last_updated: '1716260339'
                        -
                          province: 'DKI Jakarta'
                          price: '12950.00'
                          last_updated: '1716260339'
                        -
                          province: Banten
                          price: '12950.00'
                          last_updated: '1716260339'
                        -
                          province: 'Jawa Barat'
                          price: '12950.00'
                          last_updated: '1716260339'
                        -
                          province: 'Jawa Tengah'
                          price: '12950.00'
                          last_updated: '1716260339'
                        -
                          province: 'DI Yogyakarta'
                          price: '12950.00'
                          last_updated: '1716260339'
                        -
                          province: 'Jawa Timur'
                          price: '12950.00'
                          last_updated: '1716260339'
                        -
                          province: Bali
                          price: '13200.00'
                          last_updated: '1716260339'
                        -
                          province: 'Nusa Tenggara Barat'
                          price: '13200.00'
                          last_updated: '1716260339'
                        -
                          province: 'Nusa Tenggara Timur'
                          price: '13200.00'
                          last_updated: '1716260339'
                        -
                          province: 'Kalimantan Barat'
                          price: '13500.00'
                          last_updated: '1716260339'
                        -
                          province: 'Kalimantan Tengah'
                          price: '13500.00'
                          last_updated: '1716260339'
                        -
                          province: 'Kalimantan Selatan'
                          price: '13500.00'
                          last_updated: '1716260339'
                        -
                          province: 'Kalimantan Timur'
                          price: '13500.00'
                          last_updated: '1716260339'
                        -
                          province: 'Kalimantan Utara'
                          price: '13500.00'
                          last_updated: '1716260339'
                        -
                          province: 'Sulawesi Utara'
                          price: '13500.00'
                          last_updated: '1716260339'
                        -
                          province: Gorontalo
                          price: '13500.00'
                          last_updated: '1716260339'
                        -
                          province: 'Sulawesi Tengah'
                          price: '13500.00'
                          last_updated: '1716260339'
                        -
                          province: 'Sulawesi Tenggara'
                          price: '13500.00'
                          last_updated: '1716260339'
                        -
                          province: 'Sulawesi Selatan'
                          price: '13500.00'
                          last_updated: '1716260339'
                        -
                          province: 'Sulawesi Barat'
                          price: '13500.00'
                          last_updated: '1716260339'
                        -
                          province: Maluku
                          price: '13500.00'
                          last_updated: '1716260339'
                        -
                          province: 'Maluku Utara'
                          price: '13500.00'
                          last_updated: '1716260339'
                        -
                          province: Papua
                          price: '13500.00'
                          last_updated: '1716260339'
                        -
                          province: 'Papua Barat'
                          price: '13500.00'
                          last_updated: '1716260339'
                        -
                          province: 'Papua Selatan'
                          price: '13500.00'
                          last_updated: '1716260339'
                        -
                          province: 'Papua Pegunungan'
                          price: '13500.00'
                          last_updated: '1716260339'
                        -
                          province: 'Papua Tengah'
                          price: '13500.00'
                          last_updated: '1716260339'
                        -
                          province: 'Papua Barat Daya'
                          price: '13500.00'
                          last_updated: '1716260339'
                      '2024-05-17':
                        -
                          province: Aceh
                          price: '13200.00'
                          last_updated: '1715907659'
                        -
                          province: 'Free Trade Zone (FTZ) Sabang'
                          price: '12100.00'
                          last_updated: '1715907659'
                        -
                          province: 'Sumatera Utara'
                          price: '13500.00'
                          last_updated: '1715907659'
                        -
                          province: 'Sumatera Barat'
                          price: '13500.00'
                          last_updated: '1715907659'
                        -
                          province: Riau
                          price: '13800.00'
                          last_updated: '1715907659'
                        -
                          province: 'Kepulauan Riau'
                          price: '13800.00'
                          last_updated: '1715907659'
                        -
                          province: 'Free Trade Zone (FTZ) Batam'
                          price: '12600.00'
                          last_updated: '1715907659'
                        -
                          province: Jambi
                          price: '13500.00'
                          last_updated: '1715907659'
                        -
                          province: Bengkulu
                          price: '13800.00'
                          last_updated: '1715907659'
                        -
                          province: 'Sumatera Selatan'
                          price: '13500.00'
                          last_updated: '1715907659'
                        -
                          province: Bangka-Belitung
                          price: '13500.00'
                          last_updated: '1715907659'
                        -
                          province: Lampung
                          price: '13500.00'
                          last_updated: '1715907659'
                        -
                          province: 'DKI Jakarta'
                          price: '12950.00'
                          last_updated: '1715907659'
                        -
                          province: Banten
                          price: '12950.00'
                          last_updated: '1715907659'
                        -
                          province: 'Jawa Barat'
                          price: '12950.00'
                          last_updated: '1715907659'
                        -
                          province: 'Jawa Tengah'
                          price: '12950.00'
                          last_updated: '1715907659'
                        -
                          province: 'DI Yogyakarta'
                          price: '12950.00'
                          last_updated: '1715907659'
                        -
                          province: 'Jawa Timur'
                          price: '12950.00'
                          last_updated: '1715907659'
                        -
                          province: Bali
                          price: '13200.00'
                          last_updated: '1715907659'
                        -
                          province: 'Nusa Tenggara Barat'
                          price: '13200.00'
                          last_updated: '1715907659'
                        -
                          province: 'Nusa Tenggara Timur'
                          price: '13200.00'
                          last_updated: '1715907659'
                        -
                          province: 'Kalimantan Barat'
                          price: '13500.00'
                          last_updated: '1715907659'
                        -
                          province: 'Kalimantan Tengah'
                          price: '13500.00'
                          last_updated: '1715907659'
                        -
                          province: 'Kalimantan Selatan'
                          price: '13500.00'
                          last_updated: '1715907659'
                        -
                          province: 'Kalimantan Timur'
                          price: '13500.00'
                          last_updated: '1715907659'
                        -
                          province: 'Kalimantan Utara'
                          price: '13500.00'
                          last_updated: '1715907659'
                        -
                          province: 'Sulawesi Utara'
                          price: '13500.00'
                          last_updated: '1715907659'
                        -
                          province: Gorontalo
                          price: '13500.00'
                          last_updated: '1715907659'
                        -
                          province: 'Sulawesi Tengah'
                          price: '13500.00'
                          last_updated: '1715907659'
                        -
                          province: 'Sulawesi Tenggara'
                          price: '13500.00'
                          last_updated: '1715907659'
                        -
                          province: 'Sulawesi Selatan'
                          price: '13500.00'
                          last_updated: '1715907659'
                        -
                          province: 'Sulawesi Barat'
                          price: '13500.00'
                          last_updated: '1715907659'
                        -
                          province: Maluku
                          price: '13500.00'
                          last_updated: '1715907659'
                        -
                          province: 'Maluku Utara'
                          price: '13500.00'
                          last_updated: '1715907659'
                        -
                          province: Papua
                          price: '13500.00'
                          last_updated: '1715907659'
                        -
                          province: 'Papua Barat'
                          price: '13500.00'
                          last_updated: '1715907659'
                        -
                          province: 'Papua Selatan'
                          price: '13500.00'
                          last_updated: '1715907659'
                        -
                          province: 'Papua Pegunungan'
                          price: '13500.00'
                          last_updated: '1715907659'
                        -
                          province: 'Papua Tengah'
                          price: '13500.00'
                          last_updated: '1715907659'
                        -
                          province: 'Papua Barat Daya'
                          price: '13500.00'
                          last_updated: '1715907659'
                      '2024-05-16':
                        -
                          province: Aceh
                          price: '13200.00'
                          last_updated: '1715846408'
                        -
                          province: 'Free Trade Zone (FTZ) Sabang'
                          price: '12100.00'
                          last_updated: '1715846408'
                        -
                          province: 'Sumatera Utara'
                          price: '13500.00'
                          last_updated: '1715846408'
                        -
                          province: 'Sumatera Barat'
                          price: '13500.00'
                          last_updated: '1715846408'
                        -
                          province: Riau
                          price: '13800.00'
                          last_updated: '1715846408'
                        -
                          province: 'Kepulauan Riau'
                          price: '13800.00'
                          last_updated: '1715846408'
                        -
                          province: 'Free Trade Zone (FTZ) Batam'
                          price: '12600.00'
                          last_updated: '1715846408'
                        -
                          province: Jambi
                          price: '13500.00'
                          last_updated: '1715846408'
                        -
                          province: Bengkulu
                          price: '13800.00'
                          last_updated: '1715846408'
                        -
                          province: 'Sumatera Selatan'
                          price: '13500.00'
                          last_updated: '1715846408'
                        -
                          province: Bangka-Belitung
                          price: '13500.00'
                          last_updated: '1715846408'
                        -
                          province: Lampung
                          price: '13500.00'
                          last_updated: '1715846408'
                        -
                          province: 'DKI Jakarta'
                          price: '12950.00'
                          last_updated: '1715846408'
                        -
                          province: Banten
                          price: '12950.00'
                          last_updated: '1715846408'
                        -
                          province: 'Jawa Barat'
                          price: '12950.00'
                          last_updated: '1715846408'
                        -
                          province: 'Jawa Tengah'
                          price: '12950.00'
                          last_updated: '1715846408'
                        -
                          province: 'DI Yogyakarta'
                          price: '12950.00'
                          last_updated: '1715846408'
                        -
                          province: 'Jawa Timur'
                          price: '12950.00'
                          last_updated: '1715846408'
                        -
                          province: Bali
                          price: '13200.00'
                          last_updated: '1715846408'
                        -
                          province: 'Nusa Tenggara Barat'
                          price: '13200.00'
                          last_updated: '1715846408'
                        -
                          province: 'Nusa Tenggara Timur'
                          price: '13200.00'
                          last_updated: '1715846408'
                        -
                          province: 'Kalimantan Barat'
                          price: '13500.00'
                          last_updated: '1715846408'
                        -
                          province: 'Kalimantan Tengah'
                          price: '13500.00'
                          last_updated: '1715846408'
                        -
                          province: 'Kalimantan Selatan'
                          price: '13500.00'
                          last_updated: '1715846408'
                        -
                          province: 'Kalimantan Timur'
                          price: '13500.00'
                          last_updated: '1715846408'
                        -
                          province: 'Kalimantan Utara'
                          price: '13500.00'
                          last_updated: '1715846408'
                        -
                          province: 'Sulawesi Utara'
                          price: '13500.00'
                          last_updated: '1715846408'
                        -
                          province: Gorontalo
                          price: '13500.00'
                          last_updated: '1715846408'
                        -
                          province: 'Sulawesi Tengah'
                          price: '13500.00'
                          last_updated: '1715846408'
                        -
                          province: 'Sulawesi Tenggara'
                          price: '13500.00'
                          last_updated: '1715846408'
                        -
                          province: 'Sulawesi Selatan'
                          price: '13500.00'
                          last_updated: '1715846408'
                        -
                          province: 'Sulawesi Barat'
                          price: '13500.00'
                          last_updated: '1715846408'
                        -
                          province: Maluku
                          price: '13500.00'
                          last_updated: '1715846408'
                        -
                          province: 'Maluku Utara'
                          price: '13500.00'
                          last_updated: '1715846408'
                        -
                          province: Papua
                          price: '13500.00'
                          last_updated: '1715846408'
                        -
                          province: 'Papua Barat'
                          price: '13500.00'
                          last_updated: '1715846408'
                        -
                          province: 'Papua Selatan'
                          price: '13500.00'
                          last_updated: '1715846408'
                        -
                          province: 'Papua Pegunungan'
                          price: '13500.00'
                          last_updated: '1715846408'
                        -
                          province: 'Papua Tengah'
                          price: '13500.00'
                          last_updated: '1715846408'
                        -
                          province: 'Papua Barat Daya'
                          price: '13500.00'
                          last_updated: '1715846408'
                  -
                    product_id: 4
                    product_name: Pertalite
                    brand_name: Pertamina
                    historical_prices:
                      '2024-06-12':
                        -
                          province: Aceh
                          price: '10000.00'
                          last_updated: '1718235319'
                        -
                          province: 'Free Trade Zone (FTZ) Sabang'
                          price: '10000.00'
                          last_updated: '1718235319'
                        -
                          province: 'Sumatera Utara'
                          price: '10000.00'
                          last_updated: '1718235319'
                        -
                          province: 'Sumatera Barat'
                          price: '10000.00'
                          last_updated: '1718235319'
                        -
                          province: Riau
                          price: '10000.00'
                          last_updated: '1718235319'
                        -
                          province: 'Kepulauan Riau'
                          price: '10000.00'
                          last_updated: '1718235319'
                        -
                          province: 'Free Trade Zone (FTZ) Batam'
                          price: '10000.00'
                          last_updated: '1718235319'
                        -
                          province: Jambi
                          price: '10000.00'
                          last_updated: '1718235319'
                        -
                          province: Bengkulu
                          price: '10000.00'
                          last_updated: '1718235319'
                        -
                          province: 'Sumatera Selatan'
                          price: '10000.00'
                          last_updated: '1718235319'
                        -
                          province: Bangka-Belitung
                          price: '10000.00'
                          last_updated: '1718235319'
                        -
                          province: Lampung
                          price: '10000.00'
                          last_updated: '1718235319'
                        -
                          province: 'DKI Jakarta'
                          price: '10000.00'
                          last_updated: '1718235319'
                        -
                          province: Banten
                          price: '10000.00'
                          last_updated: '1718235319'
                        -
                          province: 'Jawa Barat'
                          price: '10000.00'
                          last_updated: '1718235319'
                        -
                          province: 'Jawa Tengah'
                          price: '10000.00'
                          last_updated: '1718235319'
                        -
                          province: 'DI Yogyakarta'
                          price: '10000.00'
                          last_updated: '1718235319'
                        -
                          province: 'Jawa Timur'
                          price: '10000.00'
                          last_updated: '1718235319'
                        -
                          province: Bali
                          price: '10000.00'
                          last_updated: '1718235319'
                        -
                          province: 'Nusa Tenggara Barat'
                          price: '10000.00'
                          last_updated: '1718235319'
                        -
                          province: 'Nusa Tenggara Timur'
                          price: '10000.00'
                          last_updated: '1718235319'
                        -
                          province: 'Kalimantan Barat'
                          price: '10000.00'
                          last_updated: '1718235319'
                        -
                          province: 'Kalimantan Tengah'
                          price: '10000.00'
                          last_updated: '1718235319'
                        -
                          province: 'Kalimantan Selatan'
                          price: '10000.00'
                          last_updated: '1718235319'
                        -
                          province: 'Kalimantan Timur'
                          price: '10000.00'
                          last_updated: '1718235319'
                        -
                          province: 'Kalimantan Utara'
                          price: '10000.00'
                          last_updated: '1718235319'
                        -
                          province: 'Sulawesi Utara'
                          price: '10000.00'
                          last_updated: '1718235319'
                        -
                          province: Gorontalo
                          price: '10000.00'
                          last_updated: '1718235319'
                        -
                          province: 'Sulawesi Tengah'
                          price: '10000.00'
                          last_updated: '1718235319'
                        -
                          province: 'Sulawesi Tenggara'
                          price: '10000.00'
                          last_updated: '1718235319'
                        -
                          province: 'Sulawesi Selatan'
                          price: '10000.00'
                          last_updated: '1718235319'
                        -
                          province: 'Sulawesi Barat'
                          price: '10000.00'
                          last_updated: '1718235319'
                        -
                          province: Maluku
                          price: '10000.00'
                          last_updated: '1718235319'
                        -
                          province: 'Maluku Utara'
                          price: '10000.00'
                          last_updated: '1718235319'
                        -
                          province: Papua
                          price: '10000.00'
                          last_updated: '1718235319'
                        -
                          province: 'Papua Barat'
                          price: '10000.00'
                          last_updated: '1718235319'
                        -
                          province: 'Papua Selatan'
                          price: '10000.00'
                          last_updated: '1718235319'
                        -
                          province: 'Papua Pegunungan'
                          price: '10000.00'
                          last_updated: '1718235319'
                        -
                          province: 'Papua Tengah'
                          price: '10000.00'
                          last_updated: '1718235319'
                        -
                          province: 'Papua Barat Daya'
                          price: '10000.00'
                          last_updated: '1718235319'
                      '2024-06-06':
                        -
                          province: Aceh
                          price: '10000.00'
                          last_updated: '1717641161'
                        -
                          province: 'Free Trade Zone (FTZ) Sabang'
                          price: '10000.00'
                          last_updated: '1717641161'
                        -
                          province: 'Sumatera Utara'
                          price: '10000.00'
                          last_updated: '1717641161'
                        -
                          province: 'Sumatera Barat'
                          price: '10000.00'
                          last_updated: '1717641161'
                        -
                          province: Riau
                          price: '10000.00'
                          last_updated: '1717641161'
                        -
                          province: 'Kepulauan Riau'
                          price: '10000.00'
                          last_updated: '1717641161'
                        -
                          province: 'Free Trade Zone (FTZ) Batam'
                          price: '10000.00'
                          last_updated: '1717641161'
                        -
                          province: Jambi
                          price: '10000.00'
                          last_updated: '1717641161'
                        -
                          province: Bengkulu
                          price: '10000.00'
                          last_updated: '1717641161'
                        -
                          province: 'Sumatera Selatan'
                          price: '10000.00'
                          last_updated: '1717641161'
                        -
                          province: Bangka-Belitung
                          price: '10000.00'
                          last_updated: '1717641161'
                        -
                          province: Lampung
                          price: '10000.00'
                          last_updated: '1717641161'
                        -
                          province: 'DKI Jakarta'
                          price: '10000.00'
                          last_updated: '1717641161'
                        -
                          province: Banten
                          price: '10000.00'
                          last_updated: '1717641161'
                        -
                          province: 'Jawa Barat'
                          price: '10000.00'
                          last_updated: '1717641161'
                        -
                          province: 'Jawa Tengah'
                          price: '10000.00'
                          last_updated: '1717641161'
                        -
                          province: 'DI Yogyakarta'
                          price: '10000.00'
                          last_updated: '1717641161'
                        -
                          province: 'Jawa Timur'
                          price: '10000.00'
                          last_updated: '1717641161'
                        -
                          province: Bali
                          price: '10000.00'
                          last_updated: '1717641161'
                        -
                          province: 'Nusa Tenggara Barat'
                          price: '10000.00'
                          last_updated: '1717641161'
                        -
                          province: 'Nusa Tenggara Timur'
                          price: '10000.00'
                          last_updated: '1717641161'
                        -
                          province: 'Kalimantan Barat'
                          price: '10000.00'
                          last_updated: '1717641161'
                        -
                          province: 'Kalimantan Tengah'
                          price: '10000.00'
                          last_updated: '1717641161'
                        -
                          province: 'Kalimantan Selatan'
                          price: '10000.00'
                          last_updated: '1717641161'
                        -
                          province: 'Kalimantan Timur'
                          price: '10000.00'
                          last_updated: '1717641161'
                        -
                          province: 'Kalimantan Utara'
                          price: '10000.00'
                          last_updated: '1717641161'
                        -
                          province: 'Sulawesi Utara'
                          price: '10000.00'
                          last_updated: '1717641161'
                        -
                          province: Gorontalo
                          price: '10000.00'
                          last_updated: '1717641161'
                        -
                          province: 'Sulawesi Tengah'
                          price: '10000.00'
                          last_updated: '1717641161'
                        -
                          province: 'Sulawesi Tenggara'
                          price: '10000.00'
                          last_updated: '1717641161'
                        -
                          province: 'Sulawesi Selatan'
                          price: '10000.00'
                          last_updated: '1717641161'
                        -
                          province: 'Sulawesi Barat'
                          price: '10000.00'
                          last_updated: '1717641161'
                        -
                          province: Maluku
                          price: '10000.00'
                          last_updated: '1717641161'
                        -
                          province: 'Maluku Utara'
                          price: '10000.00'
                          last_updated: '1717641161'
                        -
                          province: Papua
                          price: '10000.00'
                          last_updated: '1717641161'
                        -
                          province: 'Papua Barat'
                          price: '10000.00'
                          last_updated: '1717641161'
                        -
                          province: 'Papua Selatan'
                          price: '10000.00'
                          last_updated: '1717641161'
                        -
                          province: 'Papua Pegunungan'
                          price: '10000.00'
                          last_updated: '1717641161'
                        -
                          province: 'Papua Tengah'
                          price: '10000.00'
                          last_updated: '1717641161'
                        -
                          province: 'Papua Barat Daya'
                          price: '10000.00'
                          last_updated: '1717641161'
                      '2024-05-21':
                        -
                          province: Aceh
                          price: '10000.00'
                          last_updated: '1716260339'
                        -
                          province: 'Free Trade Zone (FTZ) Sabang'
                          price: '10000.00'
                          last_updated: '1716260339'
                        -
                          province: 'Sumatera Utara'
                          price: '10000.00'
                          last_updated: '1716260339'
                        -
                          province: 'Sumatera Barat'
                          price: '10000.00'
                          last_updated: '1716260339'
                        -
                          province: Riau
                          price: '10000.00'
                          last_updated: '1716260339'
                        -
                          province: 'Kepulauan Riau'
                          price: '10000.00'
                          last_updated: '1716260339'
                        -
                          province: 'Free Trade Zone (FTZ) Batam'
                          price: '10000.00'
                          last_updated: '1716260339'
                        -
                          province: Jambi
                          price: '10000.00'
                          last_updated: '1716260339'
                        -
                          province: Bengkulu
                          price: '10000.00'
                          last_updated: '1716260339'
                        -
                          province: 'Sumatera Selatan'
                          price: '10000.00'
                          last_updated: '1716260339'
                        -
                          province: Bangka-Belitung
                          price: '10000.00'
                          last_updated: '1716260339'
                        -
                          province: Lampung
                          price: '10000.00'
                          last_updated: '1716260339'
                        -
                          province: 'DKI Jakarta'
                          price: '10000.00'
                          last_updated: '1716260339'
                        -
                          province: Banten
                          price: '10000.00'
                          last_updated: '1716260339'
                        -
                          province: 'Jawa Barat'
                          price: '10000.00'
                          last_updated: '1716260339'
                        -
                          province: 'Jawa Tengah'
                          price: '10000.00'
                          last_updated: '1716260339'
                        -
                          province: 'DI Yogyakarta'
                          price: '10000.00'
                          last_updated: '1716260339'
                        -
                          province: 'Jawa Timur'
                          price: '10000.00'
                          last_updated: '1716260339'
                        -
                          province: Bali
                          price: '10000.00'
                          last_updated: '1716260339'
                        -
                          province: 'Nusa Tenggara Barat'
                          price: '10000.00'
                          last_updated: '1716260339'
                        -
                          province: 'Nusa Tenggara Timur'
                          price: '10000.00'
                          last_updated: '1716260339'
                        -
                          province: 'Kalimantan Barat'
                          price: '10000.00'
                          last_updated: '1716260339'
                        -
                          province: 'Kalimantan Tengah'
                          price: '10000.00'
                          last_updated: '1716260339'
                        -
                          province: 'Kalimantan Selatan'
                          price: '10000.00'
                          last_updated: '1716260339'
                        -
                          province: 'Kalimantan Timur'
                          price: '10000.00'
                          last_updated: '1716260339'
                        -
                          province: 'Kalimantan Utara'
                          price: '10000.00'
                          last_updated: '1716260339'
                        -
                          province: 'Sulawesi Utara'
                          price: '10000.00'
                          last_updated: '1716260339'
                        -
                          province: Gorontalo
                          price: '10000.00'
                          last_updated: '1716260339'
                        -
                          province: 'Sulawesi Tengah'
                          price: '10000.00'
                          last_updated: '1716260339'
                        -
                          province: 'Sulawesi Tenggara'
                          price: '10000.00'
                          last_updated: '1716260339'
                        -
                          province: 'Sulawesi Selatan'
                          price: '10000.00'
                          last_updated: '1716260339'
                        -
                          province: 'Sulawesi Barat'
                          price: '10000.00'
                          last_updated: '1716260339'
                        -
                          province: Maluku
                          price: '10000.00'
                          last_updated: '1716260339'
                        -
                          province: 'Maluku Utara'
                          price: '10000.00'
                          last_updated: '1716260339'
                        -
                          province: Papua
                          price: '10000.00'
                          last_updated: '1716260339'
                        -
                          province: 'Papua Barat'
                          price: '10000.00'
                          last_updated: '1716260339'
                        -
                          province: 'Papua Selatan'
                          price: '10000.00'
                          last_updated: '1716260339'
                        -
                          province: 'Papua Pegunungan'
                          price: '10000.00'
                          last_updated: '1716260339'
                        -
                          province: 'Papua Tengah'
                          price: '10000.00'
                          last_updated: '1716260339'
                        -
                          province: 'Papua Barat Daya'
                          price: '10000.00'
                          last_updated: '1716260339'
                      '2024-05-17':
                        -
                          province: Aceh
                          price: '10000.00'
                          last_updated: '1715907659'
                        -
                          province: 'Free Trade Zone (FTZ) Sabang'
                          price: '10000.00'
                          last_updated: '1715907659'
                        -
                          province: 'Sumatera Utara'
                          price: '10000.00'
                          last_updated: '1715907659'
                        -
                          province: 'Sumatera Barat'
                          price: '10000.00'
                          last_updated: '1715907659'
                        -
                          province: Riau
                          price: '10000.00'
                          last_updated: '1715907659'
                        -
                          province: 'Kepulauan Riau'
                          price: '10000.00'
                          last_updated: '1715907659'
                        -
                          province: 'Free Trade Zone (FTZ) Batam'
                          price: '10000.00'
                          last_updated: '1715907659'
                        -
                          province: Jambi
                          price: '10000.00'
                          last_updated: '1715907659'
                        -
                          province: Bengkulu
                          price: '10000.00'
                          last_updated: '1715907659'
                        -
                          province: 'Sumatera Selatan'
                          price: '10000.00'
                          last_updated: '1715907659'
                        -
                          province: Bangka-Belitung
                          price: '10000.00'
                          last_updated: '1715907659'
                        -
                          province: Lampung
                          price: '10000.00'
                          last_updated: '1715907659'
                        -
                          province: 'DKI Jakarta'
                          price: '10000.00'
                          last_updated: '1715907659'
                        -
                          province: Banten
                          price: '10000.00'
                          last_updated: '1715907659'
                        -
                          province: 'Jawa Barat'
                          price: '10000.00'
                          last_updated: '1715907659'
                        -
                          province: 'Jawa Tengah'
                          price: '10000.00'
                          last_updated: '1715907659'
                        -
                          province: 'DI Yogyakarta'
                          price: '10000.00'
                          last_updated: '1715907659'
                        -
                          province: 'Jawa Timur'
                          price: '10000.00'
                          last_updated: '1715907659'
                        -
                          province: Bali
                          price: '10000.00'
                          last_updated: '1715907659'
                        -
                          province: 'Nusa Tenggara Barat'
                          price: '10000.00'
                          last_updated: '1715907659'
                        -
                          province: 'Nusa Tenggara Timur'
                          price: '10000.00'
                          last_updated: '1715907659'
                        -
                          province: 'Kalimantan Barat'
                          price: '10000.00'
                          last_updated: '1715907659'
                        -
                          province: 'Kalimantan Tengah'
                          price: '10000.00'
                          last_updated: '1715907659'
                        -
                          province: 'Kalimantan Selatan'
                          price: '10000.00'
                          last_updated: '1715907659'
                        -
                          province: 'Kalimantan Timur'
                          price: '10000.00'
                          last_updated: '1715907659'
                        -
                          province: 'Kalimantan Utara'
                          price: '10000.00'
                          last_updated: '1715907659'
                        -
[...]
